<h2 mat-dialog-title>{{ data == undefined ? 'Create Deployment' : 'Update Deployment' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col gap-4">
    <div class="flex gap-4">
      <mat-form-field class="flex-1">
        <mat-label>Namespace</mat-label>
        <mat-select formControlName="namespace">
          @for (namespace of namespaceOptions(); track namespace) {
            <mat-option
              [value]="namespace">{{ namespace }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="flex-1">
        <mat-label>Name</mat-label>
        <input matInput maxlength="15" formControlName="name" placeholder="Deployment name"/>
        <mat-hint align="end">Max 15 characters</mat-hint>
      </mat-form-field>
    </div>

    <div class="flex gap-4">
      <mat-form-field class="flex-1">
        <mat-label>Image</mat-label>
        <input formControlName="image" matInput/>
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>Replicas</mat-label>
        <input formControlName="replicas" type="number" matInput/>
      </mat-form-field>
    </div>

    <div class="flex gap-4">
      <mat-form-field class="flex-1">
        <mat-label>Cpu</mat-label>
        <input placeholder="250m" formControlName="cpu" matInput/>
      </mat-form-field>

      <mat-form-field class="flex-1">
        <mat-label>Memory</mat-label>
        <input placeholder="64Mi" formControlName="memory" matInput/>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Port</mat-label>
      <input formControlName="port" type="number" matInput/>
    </mat-form-field>

    <p class="text-lg font-semibold">Environment Variables</p>

    <!-- Environment Variables FormArray -->
    <div formArrayName="environmentVariables">
      @for (envVar of envVariables.controls; track envVar; let index = $index) {
        <div class="flex  gap-4" [formGroupName]="index">
          <mat-form-field class="flex-1">
            <mat-label>Key</mat-label>
            <input matInput formControlName="key" placeholder="Environment Key"/>
          </mat-form-field>

          <mat-form-field class="flex-1">
            <mat-label>Value</mat-label>
            <input matInput formControlName="value" placeholder="Environment Value"/>
          </mat-form-field>

          <button mat-icon-button color="warn" (click)="removeEnvVariable(index)" aria-label="Remove variable">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>

    <div class="flex justify-end mt-4">
      <button mat-button color="primary" type="button" (click)="addEnvVariable()">Add Environment Variable</button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="!form.valid" mat-flat-button (click)="save()">Deploy</button>
</mat-dialog-actions>
